@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}


nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    gap: 20px;
}

.logo img {

    width: 45px;
    height: 45px;
    margin-right: 6px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 10px;
}

nav ul li {
    font-size: 13px;
}

.container{
    min-height: 75vh;
}

.bottom {

   position: sticky;
   height: 130px;
   background-color: black;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

#ProgressBar{

    width: 80vw;
    text-align: center;

}